{% macro card(resource_card) %}
    <div class="bio-common-resourcecard box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 }">
                    <img class="bio-common-resourcecard-logo"
                         src="{{ resource_card.logo.href }}"/>
                </figure>
            </div>
            <div class="media-content">
                <div class="content bio-common-resourcecard-props">
                    <p>
                        <a href="{{ resource_card.href }}">
                            <strong>{{ resource_card.title }}</strong>
                        </a>
                        {% if resource_card.subtitle %}
                            <br/>
                            <span>{{ resource_card.subtitle }}</span>
                        {% endif %}
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if resource_card.author and resource_card.rtype != 'author' %}
                            <a class="level-item bio-card-author"
                               href="{{ resource_card.author.website }}">
                                <figure class="image is-rounded is-24x24">
                                    {% if resource_card.author.thumbnail_url %}
                                        <img src="{{ resource_card.author.thumbnail_url }}"
                                             height="24" width="24"/>
                                    {% endif %}
                                </figure>
                                <span class="bio-card-author-label">{{ resource_card.author.name }}</span>
                            </a>
                        {% endif %}
                        {% if resource_card.references %}
                            <span class="level-item bio-common-card-references">
                                <div class="tags">
                                    {% for reference in resource_card.references %}
                                        <span class="tag is-rounded">
                                            <a href="{{ reference.href }}">
                                                {{ reference.title }}
                                            </a>
                                        </span>
                                    {% endfor %}
                                </div>
                            </span>
                        {% endif %}
                    </div>
                    <div class="level-right is-size-7 has-text-grey">
                        {% if resource_card.duration %}
                            <span class="level-item bio-common-card-duration">
                                <span class="icon">
                                    <i class="fas fa-video"></i>
                                </span>
                                <span>{{ resource_card.duration }}</span>
                            </span>
                        {% endif %}
                        <span class="level-item bio-common-card-published">
                            {{ resource_card.published }}
                        </span>
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endmacro %}