{% extends 'layout.html' %}
{% from 'macros/article.html' import breadcrumbs, heading, tabs, subsections, sidebar %}
{% block body %}
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ breadcrumbs(entries=page.breadcrumbs) }}
                    {{ heading(title=page.title, subtitle=page.subtitle) }}
                    {{ tabs(entries=page.tabs) }}
                    <div class="bd-content">
                        {{ subsections(entries=page.sections) }}
                        {% if page.content %}
                            <div class="bd-content">
                                {{ page.content | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {{ sidebar() }}
            </div>
        </div>
    </main>
{% endblock %}
