{% from 'macros/navbar_macros.html' import brand, start, end %}
{% set navbar = site.navbar %}
<nav id="navbar" class="navbar has-shadow is-spaced">
    <div class="container">
        {{ brand(
            logo=site.static_path(page.docname, site.logo.img_file),
            alt=site.logo.alt,
            href=site.homepage_url)
                }}
        <div id="navMenuIndex" class="navbar-menu">
            {{ start(entries=navbar['start']) }}
            {{ end(links=navbar['end'].links, buttons=navbar['end'].buttons) }}
        </div>
    </div>
</nav>