{% extends "layout.html" %}
{% from 'page/heading/macros.html' import heading %}
{% block body %}
    <main class="bd-main bulmaio-body">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ heading(page.heading) }}

                    <div class="bd-content content">
                        {{ page.body|safe }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
