<!DOCTYPE html>
<html lang="en" class="route-index">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Bulma is an open source CSS framework based on Flexbox and built with Sass.
            It's 100% responsive, fully modular, and available for free.">

    <title>Bulma: a modern CSS framework based on Flexbox</title>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bulmaio.css') }}">
    <script defer
            src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>
<body class="layout-default">

<nav id="navbar" class="navbar has-shadow is-spaced">
    {% import 'navbar.html' as navbar %}
    <div class="container">
        {{ navbar.brand(alt='Bulma: a modern CSS framework based on Flexbox', href='/') }}

        <div id="navMenuIndex" class="navbar-menu">

            {{ navbar.start(entries=navbar_start) }}


            <div class="navbar-end">
                <a class="navbar-item is-hidden-touch is-hidden-desktop-only"
                   href="https://github.com/jgthms/bulma"
                   target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fab fa-lg fa-github-alt"></i>
                    </span>
                </a>

                <a class="navbar-item is-hidden-touch is-hidden-desktop-only"
                   href="https://twitter.com/jgthms"
                   target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fab fa-lg fa-twitter"></i>
                    </span>
                </a>

                <div class="navbar-item">
                    <div class="field is-grouped is-grouped-multiline">
                        <p class="control">
                            <a class="bd-patreon-button"
                               href="https://www.patreon.com/jgthms"
                               target="_blank">
                                <img
                                        src="#"
                                        srcset="static/images/become-a-patron.png 1x,
                                          static/images/become-a-patron@2x.png 2x,
                                          static/images/become-a-patron@3x.png 3x"
                                        alt="Become a Patron"
                                        width="148"
                                        height="36">

                            </a>

                        </p>
                        <p class="control">
                            <a class="button is-primary"
                               href="#">
                                <strong>Download</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>


{% block body %}{% endblock %}


<section id="bulma-book" class="bd-book-banner hero is-medium">
    <!-- <div class="bd-book-pattern"></div> -->
    <div class="hero-body">
        <div class="container">
            <div class="bd-book-columns">
                <div class="bd-book-column bd-is-cover">
                    <div class="bd-book-cover">
                        <a href="https://bleedingedgepress.com/creating-interfaces-bulma/"
                           target="_blank">
                            <img
                                    src="static/images/book/book-cover.png"
                                    srcset="static/images/book/book-cover.png 1x,
          static/images/book/book-cover@2x.png 2x,
          static/images/book/book-cover@3x.png 3x"
                                    alt="The official Bulma book cover"
                                    width="300"
                                    height="380">

                        </a>
                    </div>
                </div>
                <div class="bd-book-column bd-is-content">
                    <div class="bd-book-content">
                        <header class="block bd-book-header">
                            <strong class="tag is-success">New!</strong>
                            <h3 class="title">The official Bulma book! 😲</h3>
                            <p class="subtitle is-6 has-text-grey">by Jeremy
                                Thomas, creator of Bulma, Oleksii
                                Potiekhin,<br>Mikko Lauhakari, Aslam Shah and
                                David Berning</p>
                        </header>


                        <div class="block bd-book-description is-size-5">
                            <p>A <strong>step-by-step guide</strong> that
                                teaches you how to build a <strong>web
                                    interface from scratch</strong> using
                                Bulma.</p>
                        </div>
                        <div class="bd-book-tags">
                            <div class="field is-grouped is-grouped-multiline">
                                <div class="control">
                                    <span class="tag is-white has-text-grey is-paddingless">Formats available:</span>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <strong class="tag has-text-danger">PDF</strong>
                                        <strong class="tag has-text-info">Epub</strong>
                                        <strong class="tag has-text-success">Mobi</strong>
                                    </div>
                                </div>
                                <div class="control">
                                    <span class="tag is-white has-text-grey is-paddingless">or</span>
                                </div>
                                <div class="control">
                                    <div class="tags has-addons">
                                        <strong class="tag has-text-orange">Kindle</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block bd-book-buttons">
                            <div class="buttons">
                                <a class="button bd-is-bleeding is-large"
                                   href="https://bleedingedgepress.com/creating-interfaces-bulma/"
                                   target="_blank"
                                   rel="nofollow">
                                    <span>
                                        <em>PDF + Epub + Mobi</em>
                                        <strong>Buy</strong> from <img
                                            src="static/images/book/bleedingedge-type.png">
                                    </span>
                                </a>
                                <a class="button bd-is-amazon is-large"
                                   href="https://www.amazon.com/Creating-Interfaces-Bulma-Jeremy-Thomas-ebook/dp/B079M1BJG4/"
                                   target="_blank" rel="nofollow">
                                    <span>
                                        <em>Kindle version</em>
                                        <strong>Buy</strong> from <img
                                            src="static/images/book/amazon-logo.png">
                                    </span>
                                </a>
                            </div>
                            <div class="bd-book-sample">
                                Or <a
                                    href="#"
                                    target="_blank" rel="nofollow">
                                download a free sample
                            </a>!
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="newsletter" class="section is-medium">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <p class="title">Newsletter</p>
                <p class="subtitle is-4 has-text-grey-light">Features,
                    releases, showcase… stay in the loop!</p>
            </div>

            <div class="column">
                <form action="https://mail.jgthms.com/subscribe" method="POST"
                      accept-charset="utf-8">
                    <div class="field is-grouped">
                        <div class="control has-icons-left is-expanded">
                            <input type="email" value="" name="email"
                                   class="input is-medium is-flat"
                                   placeholder="email address" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <img
                                    class="bd-drawing bd-is-spam-free"
                                    src="static/images/drawing/spam-free.png"
                                    width="112"
                                    height="88"
                            >

                        </div>

                        <div class="control">
                            <div class="is-hidden">
                                <input type="text" name="hp" id="hp">
                            </div>
                            <input type="hidden" name="list"
                                   value="So5UY3O9gHJkq892bn763Tyf4A">
                            <button class="button is-medium is-link">
                                <strong>Subscribe</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h4 class="bd-footer-title">
                    <strong>Bulma</strong> by <a
                        href="https://jgthms.com"
                        property="cc:attributionName" rel="cc:attributionURL"
                        target="_blank">Jeremy Thomas</a>.
                </h4>

                <div class="bd-footer-iframe">
                    <a href="https://twitter.com/jgthms"
                       class="twitter-follow-button" data-show-count="true"
                       data-lang="en" data-size="large">@jgthms</a>
                </div>

                <div class="bd-footer-tsp">
                    Source code licensed <a
                        href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                    <br>
                    Website content licensed <a rel="license"
                                                href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                    BY-NC-SA 4.0</a>
                </div>

            </div>
            <div class="column is-4">
                <h4 class="bd-footer-title">
                    <strong>Contribute</strong> on GitHub
                </h4>

                <div class="bd-footer-iframe">
                    <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&repo=bulma&type=star&count=true&size=large"
                            allowtransparency="true" frameborder="0"
                            scrolling="0" width="160px" height="30px"></iframe>

                    <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&type=follow&count=true&size=large"
                            frameborder="0" scrolling="0" width="170px"
                            height="30px"></iframe>
                </div>

            </div>
            <div class="column is-4">
                <h4 class="bd-footer-title">
                    <strong>Share</strong> on social media
                </h4>

                <div class="bd-footer-iframe">
                    <a href="https://twitter.com/share"
                       class="twitter-share-button"
                       data-text="Bulma: a modern CSS framework based on Flexbox"
                       data-url="https://bulma.io"
                       data-count="horizontal" data-via="jgthms"
                       data-related="jgthms:Creator of Bulma"
                       data-size="large">Tweet</a>

                    <div class="fb-like"
                         data-href="https://www.facebook.com/bulmaio"
                         data-layout="button"
                         data-action="like" data-size="large"
                         data-show-faces="false" data-share="true"></div>
                </div>

            </div>
        </div>


        <div class="bd-footer-stars">
            <a class="bd-footer-star bd-is-bootstrap"
               href="https://bulma.io/alternative-to-bootstrap">
                <header class="bd-footer-star-header">
                    <h4 class="bd-footer-title">
                        <strong>Coming from Bootstrap</strong>
                    </h4>
                    <p class="bd-footer-subtitle">
                        An alternative to Bootstrap
                    </p>
                </header>

                <figure class="bd-footer-star-figure">
                    <img src="static/images/footer/bootstrap-to-bulma.png"
                         width="160" height="48">
                </figure>
            </a>

            <a class="bd-footer-star bd-is-expo" href="https://bulma.io/expo">
                <header class="bd-footer-star-header">
                    <h4 class="bd-footer-title">
                        <span class="icon has-text-star">
                            <i class="fas fa-star"></i>
                        </span>
                        <strong>Expo</strong>
                    </h4>
                    <p class="bd-footer-subtitle">
                        See what you can build with Bulma
                    </p>
                </header>
            </a>

            <a class="bd-footer-star bd-is-love" href="https://bulma.io/love">
                <header class="bd-footer-star-header">
                    <h4 class="bd-footer-title">
                        <span class="icon has-text-danger">
                            <i class="fas fa-heart"></i>
                        </span>
                        <strong>Love</strong>
                    </h4>
                    <p class="bd-footer-subtitle">
                        Fans of Bulma
                    </p>
                </header>
            </a>
        </div>


        <div class="bd-footer-links">
            <div class="columns">
                <div class="column is-3">
                    <p class="bd-footer-link-title">
                        <a href="https://bulma.io">Home</a>
                    </p>

                    <p class="bd-footer-link-title">
                        <a href="https://bulma.io/blog">Blog</a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="#">
                            Automatic variables docs
                        </a>
                    </p>

                    <p class="bd-footer-link">
                        <a href="#">
                            Migrating to v0.7.0
                        </a>
                    </p>

                    <p class="bd-footer-link">
                        <a href="#">
                            Website redesign
                        </a>
                    </p>

                    <p class="bd-footer-link">
                        <a href="#">
                            Font Awesome 5
                        </a>
                    </p>


                    <p class="bd-footer-link bd-is-more">
                        <a href="https://bulma.io/blog">
                            View all posts
                        </a>
                    </p>
                </div>

                <div class="column is-3">
                    <p class="bd-footer-link-title">
                        <a href="https://bulma.io/documentation">Documentation</a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/overview">
                            Overview
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/customize">
                            Customize
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/modifiers">
                            Modifiers
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/columns">
                            Columns
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/layout">
                            Layout
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/form">
                            Form
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/elements">
                            Elements
                        </a>
                    </p>


                    <p class="bd-footer-link">
                        <a href="https://bulma.io/documentation/components">
                            Components
                        </a>
                    </p>

                </div>

                <div class="column is-6">
                    <p class="bd-footer-link-title">
                        <a href="https://bulma.io/more">More</a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/expo">
                            <span class="bd-footer-link-icon has-text-star">
                                <i class="fas fa-star"></i>
                            </span>
                            <strong>
                                Expo
                            </strong>
                            <em>
                                Official Bulma showcase
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/love">
                            <span class="bd-footer-link-icon has-text-danger">
                                <i class="fas fa-heart"></i>
                            </span>
                            <strong>
                                Love
                            </strong>
                            <em>
                                Fans of Bulma around the world
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/bulma-start">
                            <span class="bd-footer-link-icon has-text-success">
                                <i class="fas fa-rocket"></i>
                            </span>
                            <strong>
                                Bulma start
                            </strong>
                            <em>
                                A tiny npm package to get started
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/made-with-bulma">
                            <span class="bd-footer-link-icon has-text-primary">
                                <i class="fas fa-certificate"></i>
                            </span>
                            <strong>
                                Made with Bulma
                            </strong>
                            <em>
                                The official community badge
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/alternative-to-bootstrap">
                            <span class="bd-footer-link-icon has-text-bootstrap">
                                <i class="fas fa-exchange-alt"></i>
                            </span>
                            <strong>
                                Coming from Bootstrap
                            </strong>
                            <em>
                                See how Bulma is an alternative to Bootstrap
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/backers">
                            <span class="bd-footer-link-icon has-text-patreon">
                                <i class="fab fa-patreon"></i>
                            </span>
                            <strong>
                                Patreon backers
                            </strong>
                            <em>
                                Everyone who is supporting Bulma
                            </em>
                        </a>
                    </p>


                    <p class="bd-footer-link bd-has-subtitle">
                        <a href="https://bulma.io/extensions">
                            <span class="bd-footer-link-icon has-text-orange">
                                <i class="fas fa-plug"></i>
                            </span>
                            <strong>
                                Bulma extensions
                            </strong>
                            <em>
                                Side projects to enhance Bulma
                            </em>
                        </a>
                    </p>


                </div>
            </div>
        </div>

    </div>
</footer>

<script defer src="{{ url_for('static', filename='js/bulmaio.js') }}"></script>
</body>
</html>