{% macro brand(
    href='/',
    alt='Bulma: a modern CSS framework based on Flexbox'
    ) -%}
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ href }}">
            <img src="static/images/bulma-logo.png"
                 alt={{ alt }} width="112" height="28">
        </a>

        <a class="navbar-item is-hidden-desktop"
           href="https://github.com/jgthms/bulma" target="_blank">
                <span class="icon" style="color: #333;">
                    <i class="fab fa-lg fa-github-alt"></i>
                </span>
        </a>

        <a class="navbar-item is-hidden-desktop"
           href="https://twitter.com/jgthms" target="_blank">
                <span class="icon" style="color: #55acee;">
                    <i class="fab fa-lg fa-twitter"></i>
                </span>
        </a>

        <div id="navbarBurger" class="navbar-burger burger"
             data-target="navMenuIndex">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
{%- endmacro %}


{% macro start(entries) %}
    <div class="navbar-start">
        {% for entry in entries %}
            {% if entry.submenu %}
                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link" href="#">
                        {{ entry.label }}
                    </a>
                    <div id="moreDropdown" class="navbar-dropdown">
                        {% for subentry in entry.submenu %}
                            <a class="navbar-item " href="{{ subentry.href }}">
                                <span>
                                    <span class="icon has-text-{{ subentry.accent }}">
                                        <i class="fas fa-{{ subentry.icon }}"></i>
                                    </span>
                                    <strong>{{ subentry.label }}</strong>
                                    {% if subentry.description %}
                                        <br>
                                        {{ subentry.description }}
                                    {% endif %}
                                </span>
                            </a>
                            {% if not loop.last %}
                                <hr class="navbar-divider">
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% else %}
                <a class="navbar-item bd-navbar-item-{{ entry.css_class }}"
                   href="{{ entry.href }}">
                    <span class="icon has-text-{{ entry.accent }}">
                        <i class="fas fa-{{ entry.icon }}"></i>
                    </span>
                    {% if entry.label_narrow %}
                        <span class="is-hidden-touch is-hidden-widescreen">
                        {{ entry.label_narrow }}
                    </span>
                        <span class="is-hidden-desktop-only">
                        {{ entry.label }}
                    </span>
                    {% else %}
                        <span>{{ entry.label }}</span>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}

    </div>
{% endmacro %}


{% macro end(entries) %}
    <div class="navbar-end">
        {% for entry in entries %}
            <a class="navbar-item is-hidden-touch is-hidden-desktop-only"
               href="{{ entry.href }}"
               target="_blank">
                    <span class="icon" style="color: {{ '#' }}{{ entry.color }}">
                        <i class="fab fa-lg fa-{{ entry.icon }}"></i>
                    </span>
            </a>
        {% endfor %}

        <div class="navbar-item">
            <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                    <a class="button is-primary"
                       href="#">
                        <strong>Download</strong>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-default"
                       href="#">
                        <strong>Contact</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}