{%- extends "layout.html" %}
{% from 'macros/article_macros.html' import breadcrumbs, prevnext, heading, article_sidebar %}
{% block body %}
    <main class="bd-main bulmaio-body content">

        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ breadcrumbs(entries=page.breadcrumbs) }}
                    {{ heading(title=page.title, subtitle=page.subheading) }}

                    <div class="bd-content">
                        {{ page.body|safe }}
                    </div>
                </div>
{#                {{ article_sidebar(#}
{#                    resource,#}
{#                    resources,#}
{#                    references,#}
{#                    prev,#}
{#                    next,#}
{#                    resource.steps(resources),#}
{#                    pathto) }}#}
            </div>
        </div>
    </main>

{% endblock %}
