{% extends "layout.html" %}
{% from "macros/article_macros.html" import breadcrumbs, heading, tabs, subsections, section_sidebar %}
{% block body %}
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ breadcrumbs(entries=page.breadcrumbs) }}
                    {{ heading(title=page.title, subtitle=page.subtitle) }}
                    {{ tabs(entries=page.tabs) }}
                    <div class="bd-content">
                        {{ subsections(entries=page.subsections) }}
                        {% if page.content %}
                            <div class="bd-content">
                                {{ page.content | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {{ section_sidebar(entries=site.section_sidebar) }}
            </div>
        </div>
    </main>
{% endblock %}
