{% extends "layout.html" %}
{% from 'page/breadcrumbs/macros.html' import breadcrumbs  %}
{% from 'page/heading/macros.html' import heading  %}
{% from 'page/sidebar/macros.html' import sidebar  %}
{% from 'page/tabs/macros.html' import tabs  %}
{% from 'page/subsections/macros.html' import subsections  %}
{% from 'section/sidebar/macros.html' import sidebar  %}
\{% block body %}
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ breadcrumbs(page.breadcrumbs) }}
                    {{ heading(page.heading) }}
                    {{ tabs(page.tabs) }}
                    <div class="bd-content">
                        {{ subsections(page.subsections) }}
                        {% if page.content %}
                            <div class="bd-content">
                                {{ page.content | safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {{ sidebar(site.section_sidebar) }}
            </div>
        </div>
    </main>
{% endblock %}
