{%- extends "layout.html" %}
{% from 'page/breadcrumbs/macros.html' import breadcrumbs %}
{% from 'page/heading/macros.html' import heading %}
{% from 'page/sidebar/macros.html' import sidebar %}
{% from 'page/../tutorial/steps/macros.html' import steps_listing %}
{% block body %}
    <main class="bd-main bulmaio-body">

        <div class="bd-side-background"></div>
        <div class="bd-main-container container">
            <div class="bd-duo">
                <div class="bd-lead">
                    {{ breadcrumbs(page.breadcrumbs) }}
                    {{ heading(page.heading) }}

                    <div class="bd-content content">
                        {{ page.body|safe }}
                    </div>

                    {{ steps_listing(entries=page.steps) }}
                </div>
                {{ sidebar(site.section_sidebar) }}
            </div>
        </div>
    </main>

{% endblock %}
