{% macro breadcrumbs (entries, prev, next) %}
    {% if entries %}
        <div class="bd-breadcrumb">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ entry.href }}">{{ entry.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% if prev or next %}
                <nav class="bd-prev-next">
                    {% if prev %}
                        <a href="{{ prev.href }}"
                           title="{{ prev.title }}">
                            ←
                        </a>
                    {% endif %}

                    {% if next %}
                        <a href="{{ next.href }}"
                           title="{{ next.title }}">
                            →
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro heading (title, subtitle) %}
    <header class="bd-header">
        <div class="bd-header-titles">
            <h1 class="title">
                {{ title }}
            </h1>
            {% if subtitle %}
                <p class="subtitle is-4">
                    {{ subtitle | safe }}
                </p>
            {% endif %}
        </div>
    </header>
{% endmacro %}

{% macro tabs (entries) %}
    {% if entries %}
        <nav class="bd-tabs">
            <div class="tabs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ entry.href }}">
                                {{ entry.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
{% endmacro %}

{% macro subsections (entries) %}
    {% if entries %}
        <nav class="bd-links">
            {% for entry in entries %}
                <a class="bd-link"
                   href="{{ entry.href }}">
                    <h2 class="bd-link-name">
                        <figure class="bd-link-figure">

                            <span class="bd-link-icon has-text-{{ entry.accent }}">
                                <i class="{{ entry.icon }}"></i>
                            </span>

                        </figure>
                        {{ entry.label }}
                    </h2>
                    {% if entry.subtitle %}
                        <p class="bd-link-subtitle">
                            {{ entry.subtitle | safe }}
                        </p>
                    {% endif %}
                </a>
            {% endfor %}
        </nav>
    {% endif %}
{% endmacro %}


{% macro section_sidebar (entries) %}
    {% if entries %}
        <aside class="bd-side">
            <nav id="categories" class="bd-categories">
                {% for topentry in entries %}
                    <div class="bd-category {{ 'is-active' if topentry.is_active else '' }}">
                        <header class="bd-category-header">
                            <a class="bd-category-toggle">
                                <span class="icon">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </a>
                            <a class="bd-category-name "
                               href="{{ topentry.href }}">
                                <strong>{{ topentry.label }}</strong>
                                {% if topentry.is_new %}
                                    <span class="tag is-success">
                                        New!
                                    </span>
                                {% endif %}
                            </a>
                        </header>

                        {% if topentry.entries %}
                            <ul class="bd-category-list">
                                {% for subentry in topentry.entries %}
                                    <li>
                                        <a href="{{ subentry.href }}">
                                            {{ subentry.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </nav>
        </aside>
    {% endif %}
{% endmacro %}

{% macro page_sidebar_published () %}
    <div id="kb-sidenav-published-heading">
        {% set authors = references.resource_references(resource)['author'] %}

        {% if resource.is_published %}
            <p class="menu-label">
                Published
            </p>
            <ul class="menu-list">
                <li>
                    Published on
                    {{ resource.props.published.strftime('%Y-%m-%d') }}
                    at
                    {{ resource.props.published.strftime('%H:%M') }}
                    {% if authors %}
                        by:
                        {% for author in authors %}
                            <a href="{{ pathto(author.docname) }}">
                                <figure class="image is-rounded is-24x24"
                                        style="display: inline-block; margin: 0.5rem">
                                    <img src="{{ pathto(author.headshot_thumbnail('icon_24'), 1) }}">
                                </figure>
                                <span
                                        style="display: inline-block; vertical-align: super">{{ author.title }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </li>
            </ul>
        {% else %}
            <p class="menu-label">
                Draft
            </p>
            <ul class="menu-list">
                <li>
                    <a href="#">
                        This article does not have a
                        current published date.
                    </a>
                </li>
                te
            </ul>
        {% endif %}
    </div>
{% endmacro %}


{% macro page_sidebar_prev_next (prev, next) %}
    {% if prev %}
        <p class="menu-label">
            Previous
        </p>
        <ul class="menu-list">
            <a href="{{ prev.link|e }}"
               title="{{ _('previous chapter') }}">{{ prev.title }}</a>
        </ul>
    {% endif %}

    {% if next %}
        <p class="menu-label">
            Next
        </p>
        <ul class="menu-list">
            <a href="{{ next.link|e }}"
               title="{{ _('next chapter') }}">{{ next.title }}</a>
        </ul>
    {% endif %}
{% endmacro %}


{% macro page_sidebar_references (references={}) %}
    {% for reference_label in references.keys() %}
        {% if reference_label != 'author' %}
            <div>
                <p class="menu-label">
                    <span style="text-transform: uppercase">{{ reference_label }}</span>
                </p>
                <p>
                    {% for reference in references.resource_references(resource)[reference_label] %}
                        <a href="{{ pathto(reference.docname, 1) + '.html' }}">
                            <span class="tag">{{ reference.props.label }}</span>
                        </a>
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}



{% macro page_sidebar (entries) %}
    <aside class="bd-side">
        {{ page_sidebar_published () }}
        {{ page_sidebar_prev_next () }}
        {{ page_sidebar_references () }}
    </aside>
{% endmacro %}

{% macro article_card(entry) %}
    <div class="bio-card-result box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 }">
                    {% set logo = entry.logo if entry.logo else "https://cdn.worldvectorlogo.com/logos/python-5.svg" %}
                    <img src="{{ logo }}"/>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <a href="{{ entry.href }}">
                            <strong>{{ entry.title }}</strong>
                        </a>
                        <br/>
                        <span>{{ entry.subtitle }}</span>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if entry.author and entry.rtype != 'author' %}
                            <a class="level-item bio-card-author"
                               href="{{ entry.author.website }}">
                                <figure class="image is-rounded is-24x24">
                                    {% if entry.author.thumbnail_url %}
                                        <img src="{{ entry.author.thumbnail_url }}"
                                             height="24" width="24"/>
                                    {% endif %}
                                </figure>
                                <span>{{ entry.author.name }}</span>
                            </a>
                        {% endif %}
                        {% if entry.references %}
                            <span class="level-item">
                                <div class="tags">
                                    {% for reference in entry.references %}
                                        <span class="tag is-rounded">
                                            <a href="{{ reference.href }}">
                                                {{ reference.title }}
                                            </a>
                                        </span>
                                    {% endfor %}
                                </div>
                            </span>
                        {% endif %}
                    </div>
                    <div class="level-right is-size-7 has-text-grey">
                        {% if entry.duration %}
                            <span class="level-item">
                                <span class="icon">
                                    <i class="fas fa-video"></i>
                                </span>
                                <span>{{ entry.duration }}</span>
                            </span>
                        {% endif %}
                        <span class="level-item">
                            {{ entry.published }}
                        </span>
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endmacro %}

{% macro steps_listing(entries) %}
    <div class="bio-card-listing">
        {% for entry in entries %}
            {{ article_card(entry) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro steps_sidebar(entries) %}
    <h1 class="title is-2">Steps</h1>
    <ul class="steps has-content-centered is-vertical">
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <p class="is-size-4">Step 1</p>
                <p>This is the first step, which means you start here.</p>
            </div>
        </li>
        <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <p class="is-size-4">Step 2</p>
                <p>This is the second step. Once you complete the first step,
                    you will end up here.</p>
            </div>
        </li>
        <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
                <p class="is-size-4">Step 3</p>
                <p>This is the third step. This is halfway between the start
                    and the end.</p>
            </div>
        </li>
    </ul>
{% endmacro %}