{% macro book() %}
    <section id="bulma-book" class="bd-book-banner hero is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="bd-book-columns">
                    <div class="bd-book-column bd-is-cover">
                        <div class="bd-book-cover">
                            <a href="https://bleedingedgepress.com/creating-interfaces-bulma/"
                               target="_blank">
                                <img
                                        src="static/images/book/book-cover.png"
                                        srcset="static/images/book/book-cover.png 1x,
          static/images/book/book-cover@2x.png 2x,
          static/images/book/book-cover@3x.png 3x"
                                        alt="The official Bulma book cover"
                                        width="300"
                                        height="380">

                            </a>
                        </div>
                    </div>
                    <div class="bd-book-column bd-is-content">
                        <div class="bd-book-content">
                            <header class="block bd-book-header">
                                <strong class="tag is-success">New!</strong>
                                <h3 class="title">The official Bulma book!
                                    😲</h3>
                                <p class="subtitle is-6 has-text-grey">by
                                    Jeremy
                                    Thomas, creator of Bulma, Oleksii
                                    Potiekhin,<br>Mikko Lauhakari, Aslam Shah
                                    and
                                    David Berning</p>
                            </header>


                            <div class="block bd-book-description is-size-5">
                                <p>A <strong>step-by-step guide</strong> that
                                    teaches you how to build a <strong>web
                                        interface from scratch</strong> using
                                    Bulma.</p>
                            </div>
                            <div class="bd-book-tags">
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control">
                                        <span class="tag is-white has-text-grey is-paddingless">Formats
                                            available:</span>
                                    </div>
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <strong class="tag has-text-danger">PDF</strong>
                                            <strong class="tag has-text-info">Epub</strong>
                                            <strong class="tag has-text-success">Mobi</strong>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <span class="tag is-white has-text-grey is-paddingless">or</span>
                                    </div>
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <strong class="tag has-text-orange">Kindle</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block bd-book-buttons">
                                <div class="buttons">
                                    <a class="button bd-is-bleeding is-large"
                                       href="https://bleedingedgepress.com/creating-interfaces-bulma/"
                                       target="_blank"
                                       rel="nofollow">
                                        <span>
                                            <em>PDF + Epub + Mobi</em>
                                            <strong>Buy</strong> from <img
                                                src="static/images/book/bleedingedge-type.png">
                                        </span>
                                    </a>
                                    <a class="button bd-is-amazon is-large"
                                       href="https://www.amazon.com/Creating-Interfaces-Bulma-Jeremy-Thomas-ebook/dp/B079M1BJG4/"
                                       target="_blank" rel="nofollow">
                                        <span>
                                            <em>Kindle version</em>
                                            <strong>Buy</strong> from <img
                                                src="static/images/book/amazon-logo.png">
                                        </span>
                                    </a>
                                </div>
                                <div class="bd-book-sample">
                                    Or <a
                                        href="#"
                                        target="_blank" rel="nofollow">
                                    download a free sample
                                </a>!
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro newsletter() %}
    <section id="newsletter" class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">Newsletter</p>
                    <p class="subtitle is-4 has-text-grey-light">Features,
                        releases, showcase… stay in the loop!</p>
                </div>

                <div class="column">
                    <form action="https://mail.jgthms.com/subscribe"
                          method="POST"
                          accept-charset="utf-8">
                        <div class="field is-grouped">
                            <div class="control has-icons-left is-expanded">
                                <input type="email" value="" name="email"
                                       class="input is-medium is-flat"
                                       placeholder="email address" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <img
                                        class="bd-drawing bd-is-spam-free"
                                        src="static/images/drawing/spam-free.png"
                                        width="112"
                                        height="88"
                                >

                            </div>

                            <div class="control">
                                <div class="is-hidden">
                                    <input type="text" name="hp" id="hp">
                                </div>
                                <input type="hidden" name="list"
                                       value="So5UY3O9gHJkq892bn763Tyf4A">
                                <button class="button is-medium is-link">
                                    <strong>Subscribe</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}

{% macro social() %}
    <div class="columns">
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Bulma</strong> by <a
                    href="https://jgthms.com"
                    property="cc:attributionName" rel="cc:attributionURL"
                    target="_blank">Jeremy Thomas</a>.
            </h4>

            <div class="bd-footer-iframe">
                <a href="https://twitter.com/jgthms"
                   class="twitter-follow-button" data-show-count="true"
                   data-lang="en" data-size="large">@jgthms</a>
            </div>

            <div class="bd-footer-tsp">
                Source code licensed <a
                    href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>
                Website content licensed <a rel="license"
                                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                BY-NC-SA 4.0</a>
            </div>

        </div>
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Contribute</strong> on GitHub
            </h4>

            <div class="bd-footer-iframe">
                <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&repo=bulma&type=star&count=true&size=large"
                        allowtransparency="true" frameborder="0"
                        scrolling="0" width="160px" height="30px"></iframe>

                <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&type=follow&count=true&size=large"
                        frameborder="0" scrolling="0" width="170px"
                        height="30px"></iframe>
            </div>

        </div>
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Share</strong> on social media
            </h4>

            <div class="bd-footer-iframe">
                <a href="https://twitter.com/share"
                   class="twitter-share-button"
                   data-text="Bulma: a modern CSS framework based on Flexbox"
                   data-url="https://bulma.io"
                   data-count="horizontal" data-via="jgthms"
                   data-related="jgthms:Creator of Bulma"
                   data-size="large">Tweet</a>

                <div class="fb-like"
                     data-href="https://www.facebook.com/bulmaio"
                     data-layout="button"
                     data-action="like" data-size="large"
                     data-show-faces="false" data-share="true"></div>
            </div>

        </div>
    </div>
{% endmacro %}

{% macro expo() %}
    <div class="bd-footer-stars">
        <a class="bd-footer-star bd-is-bootstrap"
           href="https://bulma.io/alternative-to-bootstrap">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <strong>Coming from Bootstrap</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    An alternative to Bootstrap
                </p>
            </header>

            <figure class="bd-footer-star-figure">
                <img src="static/images/footer/bootstrap-to-bulma.png"
                     width="160" height="48">
            </figure>
        </a>

        <a class="bd-footer-star bd-is-expo" href="https://bulma.io/expo"
           style="background-image: url('static/images/footer/expo-examples.png');">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <span class="icon has-text-star">
                        <i class="fas fa-star"></i>
                    </span>
                    <strong>Expo</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    See what you can build with Bulma
                </p>
            </header>
        </a>

        <a class="bd-footer-star bd-is-love" href="https://bulma.io/love"
           style="background-image: url('static/images/footer/love.png');">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <span class="icon has-text-danger">
                        <i class="fas fa-heart"></i>
                    </span>
                    <strong>Love</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    Fans of Bulma
                </p>
            </header>
        </a>
    </div>
{% endmacro %}

{% macro links(columns) %}
    <div class="bd-footer-links">
        <div class="columns">
            {% for column in columns %}
                {% if column.fullsize %}
                    <div class="column is-6">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link bd-has-subtitle">
                                    <a href="{{ entry.href }}">
                                        <span class="bd-footer-link-icon has-text-{{ entry.accent }}">
                                            <i class="fas fa-{{ entry.icon }}"></i>
                                        </span>
                                        <strong>
                                            {{ entry.label }}
                                        </strong>
                                        <em>
                                            {{ entry.subtitle }}
                                        </em>
                                    </a>
                                </p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column is-3">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link">
                                    <a href="{{ entry.href }}">{{ entry.label }}</a>
                                </p>
                            {% endfor %}
                            {% if group.more %}
                                <p class="bd-footer-link bd-is-more">
                                    <a href="{{ group.more.href }}">
                                        {{ group.more.label }}
                                    </a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}