
{% macro social() %}
    <div class="columns">
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Bulma</strong> by <a
                    href="https://jgthms.com"
                    property="cc:attributionName" rel="cc:attributionURL"
                    target="_blank">Jeremy Thomas</a>.
            </h4>

            <div class="bd-footer-iframe">
                <a href="https://twitter.com/jgthms"
                   class="twitter-follow-button" data-show-count="true"
                   data-lang="en" data-size="large">@jgthms</a>
            </div>

            <div class="bd-footer-tsp">
                Source code licensed <a
                    href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>
                Website content licensed <a rel="license"
                                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                BY-NC-SA 4.0</a>
            </div>

        </div>
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Contribute</strong> on GitHub
            </h4>

            <div class="bd-footer-iframe">
                <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&repo=bulma&type=star&count=true&size=large"
                        allowtransparency="true" frameborder="0"
                        scrolling="0" width="160px" height="30px"></iframe>

                <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&type=follow&count=true&size=large"
                        frameborder="0" scrolling="0" width="170px"
                        height="30px"></iframe>
            </div>

        </div>
        <div class="column is-4">
            <h4 class="bd-footer-title">
                <strong>Share</strong> on social media
            </h4>

            <div class="bd-footer-iframe">
                <a href="https://twitter.com/share"
                   class="twitter-share-button"
                   data-text="Bulma: a modern CSS framework based on Flexbox"
                   data-url="https://bulma.io"
                   data-count="horizontal" data-via="jgthms"
                   data-related="jgthms:Creator of Bulma"
                   data-size="large">Tweet</a>

                <div class="fb-like"
                     data-href="https://www.facebook.com/bulmaio"
                     data-layout="button"
                     data-action="like" data-size="large"
                     data-show-faces="false" data-share="true"></div>
            </div>

        </div>
    </div>
{% endmacro %}

{% macro expo() %}
    <div class="bd-footer-stars">
        <a class="bd-footer-star bd-is-bootstrap"
           href="https://bulma.io/alternative-to-bootstrap">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <strong>Coming from Bootstrap</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    An alternative to Bootstrap
                </p>
            </header>

            <figure class="bd-footer-star-figure">
                <img src="static/images/footer/bootstrap-to-bulma.png"
                     width="160" height="48">
            </figure>
        </a>

        <a class="bd-footer-star bd-is-expo" href="https://bulma.io/expo"
           style="background-image: url('static/images/footer/expo-examples.png');">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <span class="icon has-text-star">
                        <i class="fas fa-star"></i>
                    </span>
                    <strong>Expo</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    See what you can build with Bulma
                </p>
            </header>
        </a>

        <a class="bd-footer-star bd-is-love" href="https://bulma.io/love"
           style="background-image: url('static/images/footer/love.png');">
            <header class="bd-footer-star-header">
                <h4 class="bd-footer-title">
                    <span class="icon has-text-danger">
                        <i class="fas fa-heart"></i>
                    </span>
                    <strong>Love</strong>
                </h4>
                <p class="bd-footer-subtitle">
                    Fans of Bulma
                </p>
            </header>
        </a>
    </div>
{% endmacro %}

{% macro links(columns) %}
    <div class="bd-footer-links">
        <div class="columns">
            {% for column in columns %}
                {% if column.fullsize %}
                    <div class="column is-6">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link bd-has-subtitle">
                                    <a href="{{ entry.href }}">
                                        <span class="bd-footer-link-icon has-text-{{ entry.accent }}">
                                            <i class="fas fa-{{ entry.icon }}"></i>
                                        </span>
                                        <strong>
                                            {{ entry.label }}
                                        </strong>
                                        <em>
                                            {{ entry.subtitle }}
                                        </em>
                                    </a>
                                </p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column is-3">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link">
                                    <a href="{{ entry.href }}">{{ entry.label }}</a>
                                </p>
                            {% endfor %}
                            {% if group.more %}
                                <p class="bd-footer-link bd-is-more">
                                    <a href="{{ group.more.href }}">
                                        {{ group.more.label }}
                                    </a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}