
{% macro links(footer_links) %}
    <div class="bd-footer-links">
        <div class="columns">
            {% for column in footer_links.columns %}
                {% if column.fullsize %}
                    <div class="column is-6">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link bd-has-subtitle">
                                    <a href="{{ entry.href }}">
                                        <span class="bd-footer-link-icon has-text-{{ entry.accent }}">
                                            <i class="fas fa-{{ entry.icon }}"></i>
                                        </span>
                                        <strong>
                                            {{ entry.label }}
                                        </strong>
                                        <em>
                                            {{ entry.subtitle }}
                                        </em>
                                    </a>
                                </p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column is-3">
                        {% for group in column.groups %}
                            <p class="bd-footer-link-title">
                                <a href="{{ group.href }}">{{ group.label }}</a>
                            </p>
                            {% for entry in group.entries %}
                                <p class="bd-footer-link">
                                    <a href="{{ entry.href }}">{{ entry.label }}</a>
                                </p>
                            {% endfor %}
                            {% if group.more %}
                                <p class="bd-footer-link bd-is-more">
                                    <a href="{{ group.more.href }}">
                                        {{ group.more.label }}
                                    </a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endmacro %}