{% macro breadcrumbs (entries) %}
    {% if entries %}
        <div class="bd-breadcrumb">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ entry.href }}">{{ entry.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endmacro %}

{% macro heading (title, subtitle) %}
    <header class="bd-header">
        <div class="bd-header-titles">
            <h1 class="title">
                {{ title }}
            </h1>
            <p class="subtitle is-4">

                {{ subtitle | safe }}

            </p>

        </div>

    </header>
{% endmacro %}

{% macro tabs (entries) %}
    {% if entries %}
        <nav class="bd-tabs">
            <div class="tabs">
                <ul>
                    {% for entry in entries %}
                        <li class="{{ 'is-active' if entry.is_active else '' }}">
                            <a href="{{ entry.href }}">
                                {{ entry.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
{% endmacro %}

{% macro subsections (entries) %}
    {% if entries %}
        <nav class="bd-links">
            {% for entry in entries %}
                <a class="bd-link"
                   href="{{ entry.href }}">

                    <h2 class="bd-link-name">
                        <figure class="bd-link-figure">

                            <span class="bd-link-icon has-text-{{ entry.accent }}">
                                <i class="{{ entry.icon }}"></i>
                            </span>

                        </figure>
                        {{ entry.label }}
                    </h2>
                    <p class="bd-link-subtitle">
                        {{ entry.subheading | safe }}
                    </p>

                </a>
            {% endfor %}
        </nav>
    {% endif %}
{% endmacro %}

{% macro prevnext () %}
    <nav class="bd-prev-next-bis">
    </nav>
{% endmacro %}

{% macro sidebar (entries) %}
    {% if entries %}
        <aside class="bd-side">
            <nav id="categories" class="bd-categories">
                {% for topentry in entries %}
                    <div class="bd-category {{ 'is-active' if topentry.is_active else '' }}">
                        <header class="bd-category-header">
                            <a class="bd-category-toggle">
                                <span class="icon">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                            </a>
                            <a class="bd-category-name "
                               href="{{ topentry.href }}">
                                <strong>{{ topentry.label }}</strong>
                                {% if topentry.is_new %}
                                    <span class="tag is-success">
                                        New!
                                    </span>
                                {% endif %}
                            </a>
                        </header>

                        {% if topentry.entries %}
                            <ul class="bd-category-list">
                                {% for subentry in topentry.entries %}
                                    <li>
                                        <a href="{{ subentry.href }}">
                                            {{ subentry.label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </nav>
        </aside>
    {% endif %}
{% endmacro %}

