{% macro article_card(entry) %}
    <div class="bio-card-result box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 }">
                    {% set logo = entry.logo if entry.logo else "https://cdn.worldvectorlogo.com/logos/python-5.svg" %}
                    <img src="{{ logo }}"/>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <a href="{{ entry.href }}">
                            <strong>{{ entry.title }}</strong>
                        </a>
                        <br/>
                        <span>{{ entry.subtitle }}</span>
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if entry.author and entry.rtype != 'author' %}
                            <a class="level-item bio-card-author"
                               href="{{ entry.author.website }}">
                                <figure class="image is-rounded is-24x24">
                                    {% if entry.author.thumbnail_url %}
                                        <img src="{{ entry.author.thumbnail_url }}"
                                             height="24" width="24"/>
                                    {% endif %}
                                </figure>
                                <span>{{ entry.author.name }}</span>
                            </a>
                        {% endif %}
                        {% if entry.references %}
                            <span class="level-item">
                                <div class="tags">
                                    {% for reference in entry.references %}
                                        <span class="tag is-rounded">
                                            <a href="{{ reference.href }}">
                                                {{ reference.title }}
                                            </a>
                                        </span>
                                    {% endfor %}
                                </div>
                            </span>
                        {% endif %}
                    </div>
                    <div class="level-right is-size-7 has-text-grey">
                        {% if entry.duration %}
                            <span class="level-item">
                                <span class="icon">
                                    <i class="fas fa-video"></i>
                                </span>
                                <span>{{ entry.duration }}</span>
                            </span>
                        {% endif %}
                        <span class="level-item">
                            {{ entry.published }}
                        </span>
                    </div>
                </nav>
            </div>
        </article>
    </div>
{% endmacro %}