{% macro published (sidebar_published) %}
    <div class="bio-page-sidenav-published-heading">
        {% if sidebar_published.published_date %}
            <p class="menu-label bio-page-sidebar-published">
                Published
            </p>
            <ul class="menu-list">
                <li>
                    {% if sidebar_published.author %}
                        {% set author = sidebar_published.author %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img src="{{ author.thumbnail_url }}"
                                         alt="Headshot">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <span class="bio-page-sidebar-published-date">{{ sidebar_published.published_date }}</span>
                                    <br/>
                                    at
                                    <span class="bio-page-sidebar-published-time">{{ sidebar_published.published_time }}</span>
                                    by
                                    <br/>
                                    <a href="{{ author.website }}">{{ author.name }}</a>
                                </div>
                            </div>
                        </article>


                    {% else %}
                        <span class="bio-page-sidebar-published-date">{{ sidebar_published.published_date }}</span>
                        <br/>
                        at
                        <span class="bio-page-sidebar-published-time">{{ sidebar_published.published_time }}</span>
                    {% endif %}
                </li>
            </ul>
        {% else %}
            <p class="menu-label">
                Draft
            </p>
            <ul class="menu-list">
                <li>
                    <a href="#">
                        This article does not have a
                        current published date.
                    </a>
                </li>
                te
            </ul>
        {% endif %}
    </div>
{% endmacro %}


{% macro prev_next (sidebar_prev_next) %}
    {% if sidebar_prev_next.prev %}
        <p class="menu-label bio-page-sidebar-prev-label">
            Previous
        </p>
        <ul class="menu-list bio-page-sidebar-prev-list">
            <a href="{{ sidebar_prev_next.prev.href }}">{{ sidebar_prev_next.prev.title }}</a>
        </ul>
    {% endif %}

    {% if sidebar_prev_next.next %}
        <p class="menu-label bio-page-sidebar-next-label">
            Next
        </p>
        <ul class="menu-list bio-page-sidebar-next-list">
            <a href="{{ sidebar_prev_next.next.href }}">{{ sidebar_prev_next.next.title }}</a>
        </ul>
    {% endif %}
{% endmacro %}


{% macro references (sidebar_references) %}
    {% for reference_group in sidebar_references.entries %}
        <div class="bio-page-sidebar-references-group">
            <p class="menu-label"
               style="margin-top: 1rem">
                <span style="text-transform: uppercase"
                      class="bio-page-sidebar-references-reftype">{{ reference_group.reftype }}</span>
            </p>
            <p>
                {% for reference in reference_group.entries %}
                    <a href="{{ reference.href }}"
                       class="bio-page-sidebar-references-href">
                        <span class="tag bio-page-sidebar-references-label">{{ reference.label }}</span>
                    </a>
                {% endfor %}
            </p>
        </div>
    {% endfor %}
{% endmacro %}

{% macro sidebar_page (page_sidebar) %}
    <aside class="bd-side bio-page-sidebar">
        {{ published (page_sidebar.published) }}
        {{ prev_next (page_sidebar.prev_next) }}
        {{ references (page_sidebar.references) }}
    </aside>
{% endmacro %}