@import "../../../node_modules/bulma/sass/utilities/derived-variables";

.bio-page-sidebar {
  font-size: $size-small;
  ul {
    list-style: none;
    margin: 0;
  }

  .bio-page-sidenav-published-heading li {
    padding: 0.5em 0.75em;
  }

  .menu-label {
      margin-bottom: 2em;
  }
}

